*{
    font-family: 'Share Tech', sans-serif;
  }
  h2.section-heading{
    font-size: 3em;
    text-decoration: underline;
  }

#about  img {
/* filter: url(filters.svg#grayscale); Firefox 3.5+ */
  /*filter: gray; /* IE5+ */
  /*-webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  /*-webkit-transition: all .4s ease-in-out;*/
  box-shadow: 0 0 5px goldenrod;
  height: 120px !important;
  width: 160px !important;
  height: auto;
}
/*img:hover {*/
  /*filter: none;*/
  /*-webkit-transform: scale(1.01);*/
  /*-webkit-filter: grayscale(0);*/
/*}*/
.content div{
  /*width: 16.66%;*/
  padding: 20px;
}
.img-thumbnail {
  height: 50px;
  width: 100%;
  max-width: 100px;
  border: 1px solid yellow;
}

/*Starting Responsive*/
@media screen and (max-width: 500px) {
  img{
    filter: none;
    -webkit-filter: grayscale(0);
  }
}
