/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body {
  height: 100%;
  margin: 0;
  position: relative;
  background: #222;
  font-family: "Open Sans";
}

#wrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#wrap p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

.ball {
  pointer-events: none;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
  animation: implode 1s ease-in-out;
  animation-fill-mode: both;
  opacity: .5;
}

@keyframes implode {
  100% {
    transform: scale(0);
  }
}
*/
/*
* By Jose Aguinaga
* http://jjperezaguinaga.com
*/
@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);
body {
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #f2efd9 100%);
}

@-webkit-keyframes rotate-right {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-left {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes hover {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
@-webkit-keyframes pull {
  0% {
    -webkit-transform: scaleY(1);
  }
  40% {
    -webkit-transform: scaleY(1.01);
  }
  60% {
    -webkit-transform: scaleY(0.99);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.99);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
#airplane2, #airplane1 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 60s linear 0s infinite;
}

#countryObjects {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 240s linear 0s infinite;
}

#floatingGlobe {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 360s linear 0s infinite;
}

#globe {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 0s linear 0s infinite;
}

#windmill {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 331px 201px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 2s linear 0s infinite;
}

#cloud1 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 3s linear 1s infinite;
}

#cloud2 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 3s linear 2s infinite;
}

#cloud3 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 3s linear 3s infinite;
}

#circle1 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 12s linear 0s infinite;
}

#circle2 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 24s linear 0s infinite;
}

#circle3 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 12s linear 0s infinite;
}

#circle4 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 24s linear 0s infinite;
}

#circle5 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 12s linear 0s infinite;
}
/**/
.anim{
  margin-left: 25%;overflow-y: hidden;overflow-x: hidden;max-height:100%;max-width: 75%;
  margin-top: 5%;
}

svg{
  width: 65%;
}

@media screen and (max-width: 1050px){
  svg{width: 100%;}
  .anim{margin-left: 5%;max-width:95%;}
}