.animation-mode
{
    -webkit-animation-duration: 0.75s;
       -moz-animation-duration: 0.75s;
        -ms-animation-duration: 0.75s;
    		animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
       -moz-animation-timing-function: linear;
        -ms-animation-timing-function: linear;
    		animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
       -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
    		animation-fill-mode: forwards;
}



@-webkit-keyframes main_left_center_lg {
	from {
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
				transform: translateX(-50%);
	}
	to {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
}

@keyframes main_left_center_lg {
	from {
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
				transform: translateX(-50%);
	}
	to {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
}

.animation-main-left-center-lg {
	-webkit-animation-name: main_left_center_lg;
	   -moz-animation-name: main_left_center_lg;
	    -ms-animation-name: main_left_center_lg;
			animation-name: main_left_center_lg;
}
