.animation-mode
{
    -webkit-animation-duration: 0.75s;
       -moz-animation-duration: 0.75s;
        -ms-animation-duration: 0.75s;
    		animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
       -moz-animation-timing-function: linear;
        -ms-animation-timing-function: linear;
    		animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
       -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
    		animation-fill-mode: forwards;
}
	
@-webkit-keyframes open_subscribe_lg {
	from {
		-webkit-transform: translateX(-170%);
		   -moz-transform: translateX(-170%);
		    -ms-transform: translateX(-170%);
				transform: translateX(-170%);
	}
	to {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
}

@keyframes open_subscribe_lg {
	from {
		-webkit-transform: translateX(-170%);
		   -moz-transform: translateX(-170%);
		    -ms-transform: translateX(-170%);
				transform: translateX(-170%);
	}
	to {
		-webkit-transform:  translateX(0%);
		   -moz-transform:  translateX(0%);
		    -ms-transform:  translateX(0%);
				transform:  translateX(0%);
	}
}

.animation-open-subscribe-lg {
	-webkit-animation-name: open_subscribe_lg;
	   -moz-animation-name: open_subscribe_lg;
	    -ms-animation-name: open_subscribe_lg;
			animation-name: open_subscribe_lg;
}

@-webkit-keyframes open_contact_lg {
	from {
		-webkit-transform: translateX(170%);
		   -moz-transform: translateX(170%);
		    -ms-transform: translateX(170%);
				transform: translateX(170%);
	}
	to {
		-webkit-transform: translateX(1%);
		   -moz-transform: translateX(1%);
		    -ms-transform: translateX(1%);
				transform: translateX(1%);
	}
}

@keyframes open_contact_lg {
	from {
		-webkit-transform: translateX(170%);
		   -moz-transform: translateX(170%);
		    -ms-transform: translateX(170%);
				transform: translateX(170%);
	}
	to {
		-webkit-transform: translateX(1%);
		   -moz-transform: translateX(1%);
		    -ms-transform: translateX(1%);
				transform: translateX(1%);
	}
}

.animation-open-contact-lg {
	-webkit-animation-name: open_contact_lg;
	   -moz-animation-name: open_contact_lg;
	    -ms-animation-name: open_contact_lg;
			animation-name: open_contact_lg;
}

@-webkit-keyframes close_subscribe_lg {
	from {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
	to {
		-webkit-transform: translateX(-170%);
		   -moz-transform: translateX(-170%);
		    -ms-transform: translateX(-170%);
				transform: translateX(-170%);
	}
}

@keyframes close_subscribe_lg {
	from {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
	to {
		-webkit-transform: translateX(-170%);
		   -moz-transform: translateX(-170%);
		    -ms-transform: translateX(-170%);
				transform: translateX(-170%);
	}
}

.animation-close-subscribe-lg {
	-webkit-animation-name: close_subscribe_lg;
	   -moz-animation-name: close_subscribe_lg;
	    -ms-animation-name: close_subscribe_lg;
			animation-name: close_subscribe_lg;
}

@-webkit-keyframes close_contact_lg {
	from {
		-webkit-transform: translateX(1%);
		   -moz-transform: translateX(1%);
		    -ms-transform: translateX(1%);
				transform: translateX(1%);
	}
	to {
		-webkit-transform: translateX(170%);
		   -moz-transform: translateX(170%);
		    -ms-transform: translateX(170%);
				transform: translateX(170%);
	}
}

@keyframes close_contact_lg {
	from {
		-webkit-transform: translateX(1%);
		   -moz-transform: translateX(1%);
		    -ms-transform: translateX(1%);
				transform: translateX(1%);
	}
	to {
		-webkit-transform: translateX(170%);
		   -moz-transform: translateX(170%);
		    -ms-transform: translateX(170%);
				transform: translateX(170%);
	}
}

.animation-close-contact-lg {
	-webkit-animation-name: close_contact_lg;
	   -moz-animation-name: close_contact_lg;
	    -ms-animation-name: close_contact_lg;
			animation-name: close_contact_lg;
}

@-webkit-keyframes main_center_left_lg {
	from {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
	to {
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
				transform: translateX(-50%);
	}
}

@keyframes main_center_left_lg {
	from {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
	to {
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
				transform: translateX(-50%);
	}
}

.animation-main-center-left-lg {
	-webkit-animation-name: main_center_left_lg;
	   -moz-animation-name: main_center_left_lg;
	    -ms-animation-name: main_center_left_lg;
			animation-name: main_center_left_lg;
}

@-webkit-keyframes main_center_right_lg {
	from {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
	to {
		-webkit-transform: translateX(50%);
		   -moz-transform: translateX(50%);
		    -ms-transform: translateX(50%);
				transform: translateX(50%);
	}
}

@keyframes main_center_right_lg {
	from {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
	to {
		-webkit-transform: translateX(50%);
		   -moz-transform: translateX(50%);
		    -ms-transform: translateX(50%);
				transform: translateX(50%);
	}
}

.animation-main-center-right-lg {
	-webkit-animation-name: main_center_right_lg;
	   -moz-animation-name: main_center_right_lg;
	    -ms-animation-name: main_center_right_lg;
			animation-name: main_center_right_lg;
}

@-webkit-keyframes main_left_center_lg {
	from {
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
				transform: translateX(-50%);
	}
	to {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
}

@keyframes main_left_center_lg {
	from {
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
				transform: translateX(-50%);
	}
	to {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
}

.animation-main-left-center-lg {
	-webkit-animation-name: main_left_center_lg;
	   -moz-animation-name: main_left_center_lg;
	    -ms-animation-name: main_left_center_lg;
			animation-name: main_left_center_lg;
}

@-webkit-keyframes main_right_center_lg {
	from {
		-webkit-transform: translateX(50%);
		   -moz-transform: translateX(50%);
		    -ms-transform: translateX(50%);
				transform: translateX(50%);
	}
	to {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
}

@keyframes main_right_center_lg {
	from {
		-webkit-transform: translateX(50%);
		   -moz-transform: translateX(50%);
		    -ms-transform: translateX(50%);
				transform: translateX(50%);
	}
	to {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
}

.animation-main-right-center-lg {
	-webkit-animation-name: main_right_center_lg;
	   -moz-animation-name: main_right_center_lg;
	    -ms-animation-name: main_right_center_lg;
			animation-name: main_right_center_lg;
}

@-webkit-keyframes main_left_right_lg {
	from {
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
				transform: translateX(-50%);
	}
	to {
		-webkit-transform: translateX(50%);
		   -moz-transform: translateX(50%);
		    -ms-transform: translateX(50%);
				transform: translateX(50%);
	}
}

@keyframes main_left_right_lg {
	from {
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
				transform: translateX(-50%);
	}
	to {
		-webkit-transform: translateX(50%);
		   -moz-transform: translateX(50%);
		    -ms-transform: translateX(50%);
				transform: translateX(50%);
	}
}

.animation-main-left-right-lg {
	-webkit-animation-name: main_left_right_lg;
	   -moz-animation-name: main_left_right_lg;
	    -ms-animation-name: main_left_right_lg;
			animation-name: main_left_right_lg;
}

@-webkit-keyframes main_right_left_lg {
	from {
		-webkit-transform: translateX(50%);
		   -moz-transform: translateX(50%);
		    -ms-transform: translateX(50%);
				transform: translateX(50%);
	}
	to {
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
				transform: translateX(-50%);
	}
}

@keyframes main_right_left_lg {
	from {
		-webkit-transform: translateX(50%);
		   -moz-transform: translateX(50%);
		    -ms-transform: translateX(50%);
				transform: translateX(50%);
	}
	to {
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
				transform: translateX(-50%);
	}
}

.animation-main-right-left-lg {
	-webkit-animation-name: main_right_left_lg;
	   -moz-animation-name: main_right_left_lg;
	    -ms-animation-name: main_right_left_lg;
			animation-name: main_right_left_lg;
}

@-webkit-keyframes subscribe_icon_show_lg {
	from {
		-webkit-transform: translateX(-100%);
		   -moz-transform: translateX(-100%);
		    -ms-transform: translateX(-100%);
				transform: translateX(-100%);
	}
	to {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
}

@keyframes subscribe_icon_show_lg {
	from {
		-webkit-transform: translateX(-100%);
		   -moz-transform: translateX(-100%);
		    -ms-transform: translateX(-100%);
				transform: translateX(-100%);
	}
	to {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
}

.animation-subscribe-icon-show-lg {
	-webkit-animation-name: subscribe_icon_show_lg;
	   -moz-animation-name: subscribe_icon_show_lg;
	    -ms-animation-name: subscribe_icon_show_lg;
			animation-name: subscribe_icon_show_lg;
}

@-webkit-keyframes subscribe_icon_hide_lg {
	from {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
	to {
		-webkit-transform: translateX(-100%);
		   -moz-transform: translateX(-100%);
		    -ms-transform: translateX(-100%);
				transform: translateX(-100%);
	}
}

@keyframes subscribe_icon_hide_lg {
	from {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
	to {
		-webkit-transform: translateX(-100%);
		   -moz-transform: translateX(-100%);
		    -ms-transform: translateX(-100%);
				transform: translateX(-100%);
	}
}

.animation-subscribe-icon-hide-lg {
	-webkit-animation-name: subscribe_icon_hide_lg;
	   -moz-animation-name: subscribe_icon_hide_lg;
	    -ms-animation-name: subscribe_icon_hide_lg;
			animation-name: subscribe_icon_hide_lg;
}

@-webkit-keyframes contact_icon_show_lg {
	from {
		-webkit-transform: translateX(100%);
		   -moz-transform: translateX(100%);
		    -ms-transform: translateX(100%);
				transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
}

@keyframes contact_icon_show_lg {
	from {
		-webkit-transform: translateX(100%);
		   -moz-transform: translateX(100%);
		    -ms-transform: translateX(100%);
				transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
}

.animation-contact-icon-show-lg {
	-webkit-animation-name: contact_icon_show_lg;
	   -moz-animation-name: contact_icon_show_lg;
	    -ms-animation-name: contact_icon_show_lg;
			animation-name: contact_icon_show_lg;
}

@-webkit-keyframes contact_icon_hide_lg {
	from {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
	to {
		-webkit-transform: translateX(100%);
		   -moz-transform: translateX(100%);
		    -ms-transform: translateX(100%);
				transform: translateX(100%);
	}
}

@keyframes contact_icon_hide_lg {
	from {
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
		    -ms-transform: translateX(0%);
				transform: translateX(0%);
	}
	to {
		-webkit-transform: translateX(100%);
		   -moz-transform: translateX(100%);
		    -ms-transform: translateX(100%);
				transform: translateX(100%);
	}
}

.animation-contact-icon-hide-lg {
	-webkit-animation-name: contact_icon_hide_lg;
	   -moz-animation-name: contact_icon_hide_lg;
	    -ms-animation-name: contact_icon_hide_lg;
			animation-name: contact_icon_hide_lg;
}


@media only screen and (max-width : 991px) {

	@-webkit-keyframes main_show_md {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	@keyframes main_show_md {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	.animation-main-show-md {
		-webkit-animation-name: main_show_md;
		   -moz-animation-name: main_show_md;
		    -ms-animation-name: main_show_md;
				animation-name: main_show_md;
	}

	@-webkit-keyframes main_hide_md {
		from {opacity: 1;}
		to {opacity: 0;}
	}

	@keyframes main_hide_md {
		from {opacity: 1;}
		to {opacity: 0;}
	}

	.animation-main-hide-md {
		-webkit-animation-name: main_hide_md;
		   -moz-animation-name: main_hide_md;
		    -ms-animation-name: main_hide_md;
				animation-name: main_hide_md;
	}

	@-webkit-keyframes subscribe_show_md {
		from {
			-webkit-transform: translateX(-170%);
			   -moz-transform: translateX(-170%);
			    -ms-transform: translateX(-170%);
					transform: translateX(-170%);
		}
		to {
			-webkit-transform: translateX(0%);
			   -moz-transform: translateX(0%);
			    -ms-transform: translateX(0%);
					transform: translateX(0%);
		}
	}

	@keyframes subscribe_show_md {
		from {
			-webkit-transform: translateX(-170%);
			   -moz-transform: translateX(-170%);
			    -ms-transform: translateX(-170%);
					transform: translateX(-170%);
		}
		to {
			-webkit-transform: translateX(0%);
			   -moz-transform: translateX(0%);
			    -ms-transform: translateX(0%);
					transform: translateX(0%);
		}
	}

	.animation-subscribe-show-md {
		-webkit-animation-name: subscribe_show_md;
		   -moz-animation-name: subscribe_show_md;
		    -ms-animation-name: subscribe_show_md;
				animation-name: subscribe_show_md;
	}

	@-webkit-keyframes subscribe_hide_md {
		from {
			-webkit-transform: translateX(0%);
			   -moz-transform: translateX(0%);
			    -ms-transform: translateX(0%);
					transform: translateX(0%);
		}
		to {
			-webkit-transform: translateX(-170%);
			   -moz-transform: translateX(-170%);
			    -ms-transform: translateX(-170%);
					transform: translateX(-170%);
		}
	}

	@keyframes subscribe_hide_md {
		from {
			-webkit-transform: translateX(0%);
			   -moz-transform: translateX(0%);
			    -ms-transform: translateX(0%);
					transform: translateX(0%);
		}
		to {
			-webkit-transform: translateX(-170%);
			   -moz-transform: translateX(-170%);
			    -ms-transform: translateX(-170%);
					transform: translateX(-170%);
		}
	}

	.animation-subscribe-hide-md {
		-webkit-animation-name: subscribe_hide_md;
		   -moz-animation-name: subscribe_hide_md;
		    -ms-animation-name: subscribe_hide_md;
				animation-name: subscribe_hide_md;
	}

	@-webkit-keyframes contact_show_md {
		from {
			-webkit-transform: translateX(170%);
			   -moz-transform: translateX(170%);
			    -ms-transform: translateX(170%);
					transform: translateX(170%);
		}
		to {
			-webkit-transform: translateX(0%);
			   -moz-transform: translateX(0%);
			    -ms-transform: translateX(0%);
					transform: translateX(0%);
		}
	}

	@keyframes contact_show_md {
		from {
			-webkit-transform: translateX(170%);
			   -moz-transform: translateX(170%);
			    -ms-transform: translateX(170%);
					transform: translateX(170%);
		}
		to {
			-webkit-transform: translateX(0%);
			   -moz-transform: translateX(0%);
			    -ms-transform: translateX(0%);
					transform: translateX(0%);
		}
	}

	.animation-contact-show-md {
		-webkit-animation-name: contact_show_md;
		   -moz-animation-name: contact_show_md;
		    -ms-animation-name: contact_show_md;
				animation-name: contact_show_md;
	}

	@-webkit-keyframes contact_hide_md {
		from {
			-webkit-transform: translateX(0%);
			   -moz-transform: translateX(0%);
			    -ms-transform: translateX(0%);
					transform: translateX(0%);
		}
		to {
			-webkit-transform: translateX(170%);
			   -moz-transform: translateX(170%);
			    -ms-transform: translateX(170%);
					transform: translateX(170%);
		}
	}

	@keyframes contact_hide_md {
		from {
			-webkit-transform: translateX(0%);
			   -moz-transform: translateX(0%);
			    -ms-transform: translateX(0%);
					transform: translateX(0%);
		}
		to {
			-webkit-transform: translateX(170%);
			   -moz-transform: translateX(170%);
			    -ms-transform: translateX(170%);
					transform: translateX(170%);
		}
	}

	.animation-contact-hide-md {
		-webkit-animation-name: contact_hide_md;
		   -moz-animation-name: contact_hide_md;
		    -ms-animation-name: contact_hide_md;
				animation-name: contact_hide_md;
	}

}