.photo{
	border-radius: 50%;
	position: relative;
	display: inline-block;
	margin: 10px 10px;
}


body{
	background-color: black;
}

.border{
	width: 260px;
	height: 170px;
	border-radius: 50%;
}

.sout .border{
	width: 200px;
	height: 140px;
	border-radius: 50%;
}

.image{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	position: absolute;
	top: 18px;
	left: 60px;
}

.sout .image{
	width: 108px;
	height: 118px;
	border-radius: 50%;
	position: absolute;
	top: 12px;
	left: 45px;
}

.out,.sout{
	text-align: center;
}

.des{
	color: white;
	padding: 5px 0px;
	margin: 10px 0px;
	width: 180px;
	border-top: 2px solid #4c3b1c;
	border-bottom: 2px solid #4c3b1c;
}


.out .des{
	margin-left: 40px;
}
/*
.border{
	width: 295px;
	height: 200px;
	border-radius: 50%;
}

.image{
	width: 160px;
	height: 170px;
	border-radius: 50%;
	position: absolute;
	top: 18px;
	left: 67px;
}
*/


@media only screen and (max-width : 767px) {
	.timer canvas{
		width: 80% !important;
		height: 80px !important;

	}
	.letterHeader{
		width: 100% !important;

	}
	div.letterMain{
		width: 59% !important;
	}
	.letterFooter{
		width:100% !important;
		margin-top: -26px;
	}

	.footer-image {
		height: 100px !important;
	}

	.about-sparsh {
		width:90% !important;
	}

	.abt-para {
		margin: 10px auto 30px auto !important;
	}

	#loader {
		margin-top: 280px;
	}


}

.svg-animated3{
	/* width: 250px; */
	text-align: center;
	margin: auto;
	margin-top: 2%;
}

.st0 {
	fill: none;
	stroke: #E5CC7F;
	stroke-miterlimit: 10;
}

.st0 {
	stroke-dasharray: 1900;
	stroke-dashoffset: 2050;
	-webkit-animation: dash 30s linear forwards infinite;
	-moz-animation: dash 30s linear forwards infinite;
	-o-animation: dash 30s linear forwards infinite;
	animation: dash 30s linear forwards infinite;
}

@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 2050;
		fill: none;
	}
	50% {
		stroke-dashoffset: 0;
		fill: none;
	}
	100% {
		stroke-dashoffset: 2050;
		fill: none;
	}
}

@-moz-keyframes dash {
	0% {
		stroke-dashoffset: 2050;
		fill: none;
	}
	50% {
		stroke-dashoffset: 0;
		fill: none;
	}
	100% {
		stroke-dashoffset: 2050;
		fill: none;
	}
}

@-o-keyframes dash {
	0% {
		stroke-dashoffset: 2050;
		fill: none;
	}
	50% {
		stroke-dashoffset: 0;
		fill: none;
	}
	100% {
		stroke-dashoffset: 2050;
		fill: none;
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: 2050;
		fill: none;
	}
	50% {
		stroke-dashoffset: 0;
		fill: none;
	}
	100% {
		stroke-dashoffset: 2050;
		fill: none;
	}
}

/* PAGE Setings */

footer{
	position :absolute;
	text-align: center;
	padding: 30px;
	bottom: 0;
	left: 0;
	right: 0;

	a{
		color: #e5cc7f;
		font-weight: light;

		&:hover{
			color: green;
		}
	}
}

.navbar {
	opacity: 0.8;
}

.nav a{
	font-weight: bold;
	text-transform: uppercase;
}

.navbar-brand{
	font-weight: bold;
}

.carousel,  {
	height: 90%;
	width: 90%;
	background-position: center center;
	margin: 0 auto;
}

#mycarousel {
	position: relative;
	width: 90%;
	margin: 0 auto;
}
.sparsh-heading{
	width: 100%;
	height: 16vh;
	font-size: 52px;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	color: #e5cc7f;
}

.sparsh-heading-date {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
}

.abt-heading{
	margin-top: 20px;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 42px;

}
.abt-para{
	text-align: center;
	width: 80%;
	font-size: 21px;
	font-family: 'Dancing Script', cursive;
	margin: 0 auto;
}
.event-name{
	font-size: 2.0em;
	color: #783000;
	font-family: 'Dancing Script', cursive;

}


.full-screen {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.about-sparsh {
	color: : #783000;
	margin: 0 auto;
	width: 60%;
	background-image: url("{{ url_for('static', filename='about-background.png') }}");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.abt-para {
	color: #783000;
	margin: 50px 100px 100px 100px;
	line-height: 1.5;
}

.footer-image {
	width: 100%;
	height: 250px;
	opacity: 0.5;
}
