* {
	margin : 0;
	padding : 0;
}
.qutton{
	box-sizing : content-box !important;
	background-repeat : no-repeat !important;
	background-position: center center !important;
	box-shadow:  0 3px 6px 0 rgba(0, 0, 0, 0.3);
	cursor : auto;
	
}
.new{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	border: 1px solid goldenrod;

}
.one{
	flex: 1;
	height: 16.66vh;
	
}

.qutton.close {
	position : absolute !important;
	cursor : pointer;
}

.quttonClonePlaceHolder {
	visibility: hidden;
}
