* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'blowbrush', cursive;
}

@font-face{
    font-family: 'blowbrush';
    src: url('fonts/blowbrush.otf');
    src: url('fonts/blowbrush.ttf');
}


/* toggling the color of the tabs */

.tabs {
    transition: all 0.5s;
    cursor: pointer;
}

.tabs-isClicked {
    color: aqua
}


/* Toggling scenes of the images and content */

.notShow {
    display: none !important;
}

.show {
    display: block;
}

.stack {
    display: flex;
}

.btnf {
    width: 100%;
    height: 100%;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.day .col-xs-9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    flex: 1;
}

.overlay1 {
    background-color: #DB3340;
}

.overlay2 {
    background-color: #E8B71A;
}

.overlay3 {
    background-color: #F7EAC8;
}

.overlay4 {
    background-color: #1FDA9A;
}

.overlay5 {
    background-color: #28ABE3;
}

.overlay6 {
    background-color: #E8B71A;
    border-top: #DB3340;
}

.day {
    height: 16.66vh;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.day .col-xs-3 {
    height: 100%;

}
.chng li{
    font-size: 2em;
}

.day .col-xs-9 {
    height: 100%;
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    z-index: 12;
    border-top:5px ridge lemonchiffon;
}


.col-xs-9 .col-xs-3 {
    flex: 1;
    cursor: pointer;
    font-size: 3rem;
    
    text-shadow: 2px 2px 10px gold;
}


/* making the wrapper flex box */

.wrapper {
    display: flex;
}

.img {
    flex: 1;
    width: 20%;
    max-height: 200px;
    padding: 5px;
}

.wrapper p {
    flex: 3;
    padding: 10px;
}

ul li {
    font-size: 1.2rem;
}
.daysT{
    
background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,0.98) 35%, rgba(33,180,226,0.95) 67%, rgba(115,203,232,0.94) 85%, rgba(183,222,237,0.94) 100%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,222,237,1)), color-stop(35%,rgba(113,206,239,0.98)), color-stop(67%,rgba(33,180,226,0.95)), color-stop(85%,rgba(115,203,232,0.94)), color-stop(100%,rgba(183,222,237,0.94))); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%,rgba(113,206,239,0.98) 35%,rgba(33,180,226,0.95) 67%,rgba(115,203,232,0.94) 85%,rgba(183,222,237,0.94) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(top, rgba(183,222,237,1) 0%,rgba(113,206,239,0.98) 35%,rgba(33,180,226,0.95) 67%,rgba(115,203,232,0.94) 85%,rgba(183,222,237,0.94) 100%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%,rgba(113,206,239,0.98) 35%,rgba(33,180,226,0.95) 67%,rgba(115,203,232,0.94) 85%,rgba(183,222,237,0.94) 100%); /* IE10 preview */
background: linear-gradient(to bottom, rgba(183,222,237,1) 0%,rgba(113,206,239,0.98) 35%,rgba(33,180,226,0.95) 67%,rgba(115,203,232,0.94) 85%,rgba(183,222,237,0.94) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#f0b7deed',GradientType=0 ); /* IE6-9 */
margin-left: 10vw;
margin-right: 10vw;
height: 10vh;
}
.nightT{
    margin-left: 10vw;
    margin-right:10vw;
    
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top, rgba(252,234,187,1) 3%, rgba(252,205,77,1) 35%, rgba(248,181,0,1) 66%, rgba(251,223,147,1) 100%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(252,234,187,1)), color-stop(35%,rgba(252,205,77,1)), color-stop(66%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(top, rgba(252,234,187,1) 3%,rgba(252,205,77,1) 35%,rgba(248,181,0,1) 66%,rgba(251,223,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(top, rgba(252,234,187,1) 3%,rgba(252,205,77,1) 35%,rgba(248,181,0,1) 66%,rgba(251,223,147,1) 100%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(top, rgba(252,234,187,1) 3%,rgba(252,205,77,1) 35%,rgba(248,181,0,1) 66%,rgba(251,223,147,1) 100%); /* IE10 preview */
background: linear-gradient(to bottom, rgba(252,234,187,1) 3%,rgba(252,205,77,1) 35%,rgba(248,181,0,1) 66%,rgba(251,223,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
height: 10vh;
}
.lineup2 {
    color: #FFAC00;
    font-size:15vw;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,f2042c+76,6d0019+100&1+0,0.94+78 */
background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(242,4,44,0.94) 76%, rgba(231,4,42,0.94) 78%, rgba(109,0,25,0.94) 100%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(76%,rgba(242,4,44,0.94)), color-stop(78%,rgba(231,4,42,0.94)), color-stop(100%,rgba(109,0,25,0.94))); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(242,4,44,0.94) 76%,rgba(231,4,42,0.94) 78%,rgba(109,0,25,0.94) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(242,4,44,0.94) 76%,rgba(231,4,42,0.94) 78%,rgba(109,0,25,0.94) 100%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(242,4,44,0.94) 76%,rgba(231,4,42,0.94) 78%,rgba(109,0,25,0.94) 100%); /* IE10 preview */
background: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(242,4,44,0.94) 76%,rgba(231,4,42,0.94) 78%,rgba(109,0,25,0.94) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#f06d0019',GradientType=0 ); /* IE6-9 */
}

.mobTab {
    font-size: 1.7em;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

.space {
    height: 200px;
}


/* mobile css */

.wrapperMob {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgMob {
    padding: 10px;
    width: 95%;
    height: 300px;
}

.mob {
    flex: 1;
}