<!DOCTYPE html>
<html>
<head>
	<title>Sparsh 2K18</title>
	<link rel="stylesheet" type="text/css" href="css/about/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="flexed">
		<div class="card-wrapper">
			<div class="card r4">
				<div class="photo-container">
				    <img class="limg" srcset="/images/a.jpg" alt=""/>
				    <div class="first fpos">
				    	<i class="fa fa-envelope mail" aria-hidden="true"></i>
				    </div>
				    <div class="second spos">
				    	<i class="fa fa-twitter twitter" aria-hidden="true"></i>
				    </div>
				</div>
				<div class="des">
					Your Name Here<br>
					Your Post Here<br>
					Your Number Here<br>
				</div>
			</div>
		</div>
		<div class="card-wrapper">
			<div class="card r-2">
				<div class="photo-container">
				    <img class="limg" srcset="/images/a.jpg" alt=""/>
				    <div class="first fpos">
				    	<i class="fa fa-envelope mail" aria-hidden="true"></i>
				    </div>
				    <div class="second spos">
				    	<i class="fa fa-twitter twitter" aria-hidden="true"></i>
				    </div>
				</div>
				
				<div class="des">
					Your Name Here<br>
					Your Post Here<br>
					Your Number Here<br>
				</div>
			</div>
		</div>
	</div>
	<div class="flexed">
		<div class="card-wrapper r2">
			<div class="scard">
				<div class="sphoto-container">
				    <img class="simg" srcset="/images/a.jpg" alt=""/>
				    <div class="first fpos">
				    	<i class="fa fa-envelope mail" aria-hidden="true"></i>
				    </div>
				    <div class="second spos">
				    	<i class="fa fa-twitter twitter" aria-hidden="true"></i>
				    </div>
				</div>
				
				<div class="des">
					Your Name Here<br>
					Your Post Here<br>
					Your Number Here<br>
				</div>
			</div>
		</div>
		<div class="card-wrapper r-2">
			<div class="scard">
				<div class="sphoto-container">
				    <img class="simg" srcset="/images/a.jpg" alt=""/>
				    <div class="first fpos">
				    	<i class="fa fa-envelope mail" aria-hidden="true"></i>
				    </div>
				    <div class="second spos">
				    	<i class="fa fa-twitter twitter" aria-hidden="true"></i>
				    </div>
				</div>
				
				<div class="des">
					Your Name Here<br>
					Your Post Here<br>
					Your Number Here<br>
				</div>
			</div>
		</div>
		<div class="card-wrapper r3">
			<div class="scard">
				<div class="sphoto-container">
				    <img class="simg" srcset="/images/a.jpg" alt=""/>
				    <div class="first fpos">
				    	<i class="fa fa-envelope mail" aria-hidden="true"></i>
				    </div>
				    <div class="second spos">
				    	<i class="fa fa-twitter twitter" aria-hidden="true"></i>
				    </div>
				</div>
				
				<div class="des">
					Your Name Here<br>
					Your Post Here<br>
					Your Number Here<br>
				</div>
			</div>
		</div>
		<div class="card-wrapper">
			<div class="scard">
				<div class="sphoto-container">
				    <img class="simg" srcset="/images/a.jpg" alt=""/>
				    <div class="first fpos">
				    	<i class="fa fa-envelope mail" aria-hidden="true"></i>
				    </div>
				    <div class="second spos">
				    	<i class="fa fa-twitter twitter" aria-hidden="true"></i>
				    </div>
				</div>
				
				<div class="des">
					Your Name Here<br>
					Your Post Here<br>
					Your Number Here<br>
				</div>
			</div>
		</div>
		<div class="card-wrapper r2">
			<div class="scard">
				<div class="sphoto-container">
				    <img class="simg" srcset="/images/a.jpg" alt=""/>
				    <div class="first fpos">
				    	<i class="fa fa-envelope mail" aria-hidden="true"></i>
				    </div>
				    <div class="second spos">
				    	<i class="fa fa-twitter twitter" aria-hidden="true"></i>
				    </div>
				</div>
				
				<div class="des">
					Your Name Here<br>
					Your Post Here<br>
					Your Number Here<br>
				</div>
			</div>
		</div>
	</div>
</body>
</html>