<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Form Style 8</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Neucha|Merriweather+Sans|Special+Elite|Merienda" rel="stylesheet">
<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'css/contact/style.css') }}">
<script type="text/javascript">
//auto expand textarea
function adjust_textarea(h) {
    h.style.height = "45px";
    h.style.height = (h.scrollHeight)+"px";
}
</script>
</head>

<body>
<h1 class="heading">Contact Us</h1>
<div class="box">
  <h2>Your Precious Feedback..</h2>
  <form>
    <input type="text" name="field1" placeholder="Full Name" />
    <input type="email" name="field2" placeholder="Email" />
    <input type="text" maxlength="10" name="field3" placeholder="Mobile" />
    <textarea placeholder="Feedback Message" onkeyup="adjust_textarea(this)"></textarea>
    <input type="button" value="Send Message" />
   </form>
</div>

<div class="col-md-4"></div>
<div class="col-md-4 map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14883.623982626008!2d72.79837045!3d21.156139!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04dec8b56fdf3%3A0x423b99085d26d1f9!2sSardar+Vallabhbhai+National+Institute+of+Technology!5e0!3m2!1sen!2sin!4v1516637671483" width="590" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</body>
</html>
	