<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/events/reset.css') }}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/events/style.css') }}"> <!-- Resource style -->
	<script src="{{ url_for('static', filename='js/events/modernizr.js') }}"></script> <!-- Modernizr -->

	<title>Page Scroll Effects | CodyHouse</title>
	<style type="text/css">
		.cont{
			height: 100vh;
			text-align: center;
		}
	</style>
</head>

<body data-hijacking="off" data-animation="parallax">
	<section class="cd-section visible">
		<div>
			<div class="cont">
				<br><br><br><br><br><br><br>
				<span style="font-size: 400%">INFORMALS</span><br><br><br><br><br><br><br><br><br><br><br><br><br>

				<span style="font-size: 1000%; vertical-align: middle">event no. 1</span><br><br><br><br><br>
				<span style="font-size: 180%; vertical-align: middle">Date: XX_XX_XXXX  &nbsp&nbsp&nbsp&nbsp&nbsp Time: XX:XX &nbsp&nbsp&nbsp&nbsp Venue: xxxxxxxx</span>

			</div>
		</div>
	</section>

	<section class="cd-section">
		<div class="cont">
				<br><br><br><br>
				<!-- Add text herer inr -->
			<div style="font-size:200%; margin-right: 300px; margin-left: 300px; text-align: center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Pri quas audiam virtute ut, case utamur fuisset eam ut, iisque accommodare an eam. Reque blandit qui eu, cu vix nonumy volumus. Legendos intellegam id usu, vide oporteat vix eu, id illud principes has. Nam tempor utamur gubergren no.

Ex soleat habemus usu, te nec eligendi deserunt vituperata. Natum consulatu vel ea, duo cetero repudiare efficiendi cu. Has at quas nonumy facilisis, enim percipitur mei ad. Mazim possim adipisci sea ei, omnium aeterno platonem mei no.</div><br><br><br><br>
		</div>
	</section>

	<section class="cd-section">
		<div>
			<h2>Informal Event 2</h2>
		</div>
	</section>

	<nav>
		<ul class="cd-vertical-nav">
			<li><a href="#0" class="cd-prev inactive">Next</a></li>
			<li><a href="#0" class="cd-next">Prev</a></li>
		</ul>
	</nav> <!-- .cd-vertical-nav -->
<script src="{{ url_for('static', filename='js/events/jquery-2.1.4.js') }}"></script>
<script src="{{ url_for('static', filename='js/events/velocity.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/events/velocity.ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/events/main.js') }}"></script> <!-- Resource jQuery -->
</body>
</html>
