<!DOCTYPE html>
<html>
<head>
	<title>demo</title>
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
	<div class="containerDup">
		<div class="rowDup">
			<div class="coldup-lg-4">
				<div class="eventLetters" onmouseover="showMainImg(0)" onmouseout="hideMainImg(0)">
					<div class="eventName">Technical</div>
					<img src="{{ url_for('static', filename='images/index_events/up.png') }}" class="letterHeader"><br>
					<img src="{{ url_for('static', filename='images/index_events/main.png') }}" class="letterMain"><br>
					<img src="{{ url_for('static', filename='images/index_events/down.png') }}" class="letterFooter">
				</div>
			</div>
			<div class="coldup-lg-4">
				<div class="eventLetters" onmouseover="showMainImg(1)" onmouseout="hideMainImg(1)">
					<div class="eventName">Technical</div>
					<img src="{{ url_for('static', filename='images/index_events/up.png') }}" class="letterHeader"><br>
					<img src="{{ url_for('static', filename='images/index_events/main.png') }}" class="letterMain"><br>
					<img src="{{ url_for('static', filename='images/index_events/down.png') }}" class="letterFooter">
				</div>
			</div>
			<div class="coldup-lg-4">
				<div class="eventLetters" onmouseover="showMainImg(2)" onmouseout="hideMainImg(2)">
					<div class="eventName">Technical</div>
					<img src="{{ url_for('static', filename='images/index_events/up.png') }}" class="letterHeader"><br>
					<img src="{{ url_for('static', filename='images/index_events/main.png') }}" class="letterMain"><br>
					<img src="{{ url_for('static', filename='images/index_events/down.png') }}" class="letterFooter">
				</div>
			</div>
		</div>

		<div class="rowDup">
			<div class="coldup-lg-4">
				<div class="eventLetters" onmouseover="showMainImg(3)" onmouseout="hideMainImg(3)">
					<div class="eventName">Technical</div>
					<img src="{{ url_for('static', filename='images/index_events/up.png') }}" class="letterHeader"><br>
					<img src="{{ url_for('static', filename='images/index_events/main.png') }}" class="letterMain"><br>
					<img src="{{ url_for('static', filename='images/index_events/down.png') }}" class="letterFooter">
				</div>
			</div>
			<div class="coldup-lg-4">
				<div class="eventLetters" onmouseover="showMainImg(4)" onmouseout="hideMainImg(4)">
					<div class="eventName">Technical</div>
					<img src="{{ url_for('static', filename='images/index_events/up.png') }}" class="letterHeader"><br>
					<img src="{{ url_for('static', filename='images/index_events/main.png') }}" class="letterMain"><br>
					<img src="{{ url_for('static', filename='images/index_events/down.png') }}" class="letterFooter">
				</div>
			</div>
			<div class="coldup-lg-4">
				<div class="eventLetters" onmouseover="showMainImg(5)" onmouseout="hideMainImg(5)">
					<div class="eventName">Technical</div>
					<img src="{{ url_for('static', filename='images/index_events/up.png') }}" class="letterHeader"><br>
					<img src="{{ url_for('static', filename='images/index_events/main.png') }}" class="letterMain"><br>
					<img src="{{ url_for('static', filename='images/index_events/down.png') }}" class="letterFooter">
				</div>
			</div>
		</div>

	</div>

</body>
<script type="text/javascript">
	function showMainImg(n) {
		var mainImg = document.getElementsByClassName('letterMain')[n];
		mainImg.style.height = "200px";
	}

	function hideMainImg(n) {
		var mainImg = document.getElementsByClassName('letterMain')[n];
		mainImg.style.height = "0px";
	}
</script>
</html>
